fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
celery
redis
pytest
pytest-asyncio
httpx
fastapi-cache
bcrypt==3.2.2
passlib[bcrypt]==1.7.4
pydantic[email]
python-jose
pydantic-settings
psycopg2
asgi-lifespan